/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-purple-200;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

input {
  @apply w-[400px] border border-gray-200 py-2 px-6 bg-zinc-100/40 text-black;
}
